<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Propos</title>
</head>
<body>
    <app-nav></app-nav>
    <section class="about">
        <div class="contentimgtxt">
            <div class="imgs">
                <img style="height: 400px;" src="https://i.pinimg.com/736x/8e/ca/90/8eca90fc15743590b0dd286625bc696a.jpg" alt="" class="imgA">
                <img src="https://i.pinimg.com/736x/87/bb/df/87bbdf78409f24990e02e85c00fa135c.jpg" alt="" width="100px" class="imgB">
            </div>
            <div class="alltxt">
                <p class="paragrapheAbout"> Notre Histoire, Notre Passion</p>
                <h2 class="titreAbout">
                    Le lien entre producteurs et 
                    consommateurs locaux
                </h2>
                <h4 class="titre2About">L'Origine de Notre Projet</h4>
                <p class="Aboutparagraphe">
                    Né de la volonté de reconnecter les producteurs locaux avec les 
                    consommateurs, notre plateforme est créée pour valoriser l'excellence 
                    agricole de notre région.
                </p>
                <div class="iconeettxt">
                    <div class="imgicone">
                        <img src="https://i.pinimg.com/736x/97/a8/7c/97a87caef959e7903b34d4139c79bb0c.jpg" alt="">
                        <h4>se nourrir <br>
                            sainement</h4>
                    </div>
                    <div class="imgicone">
                        <img src="https://i.pinimg.com/736x/97/a8/7c/97a87caef959e7903b34d4139c79bb0c.jpg" alt="">
                        <h4>Eliminer les dechets <br>
                            toxique</h4>
                    </div>
                </div>
                <p class="pgph">Authenticité des produits locaux</p>
                <p class="pgph">Transparence dans nos relations</p>
                <div class="btn">
                    <a href="produits"> Découvrez plus</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brand">
        <div class="branddd">
            <div class="txtxt">
                <h1>
                    Nos Producteurs de <br> 
                    Confiance
                </h1>
            </div>
        </div>
        <footer class="brandFooter">
            <nav class="link">
                <a href="">Agriculture Products</a>
                <a href=""> Projects Completed</a>
                <a href=""> Satisfied Clients</a>
                <a href="">Experts Farmers</a>
            </nav>
        </footer>
    </section>

    <app-footer></app-footer>
    
</body>
</html>