<mat-card class="payment-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Entrez votre nom">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput placeholder="Entrez votre numéro">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <input matInput placeholder="Entrez votre adresse">
    </mat-form-field>
  
    <div class="summary">
      <p>Total : <span>35 000 F CFA</span></p>
      <p>Livraison : <span>5 000 F CFA</span></p>
      <p><b>Total : 40 000 F CFA</b></p>
    </div>
  
    <div class="payment-buttons">
        <img src="wave.png" alt="Wave" class="icon"><span style="margin-top: 6%; margin-left: -40px;">Payer avec Wave</span>
        <img src="orange.png" alt="Orange Money" class="icon"><span style="margin-top: 6%; margin-left: -40px;"> Payez avec Orange Money</span>
    </div>
  
    <button mat-raised-button color="warn" class="cancel-button">Annuler la commande</button>
  </mat-card>
 