nav ul li a {
    font-weight: 900;
    cursor: pointer;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  body {
    padding-top: 100px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
  }
